<!-- <style>
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Display&family=Roboto:ital,wght@0,500;1,900&display=swap');
</style> -->
 
<div class="navbar navbar-expand-lg navbar-dark .bg-primary">
    <div class="container-fluid">
        <a style="color: white;" id="UserBookEvent" routerLink="homepage" class="navbar-brand" href="#"><h2>Baseball Event</h2></a>
        <a class="nav-link" routerLink="bookEvent" id="BookVenue" >Book Event</a>
        <a class="nav-link" routerLink="viewbooking" id="UserViewBookEvent">View Booked Event</a>
        <div class="d-flex">
            <button class="btn btn-outline-danger" id="logout" routerLink="../login" >Logout</button>
        </div>  
    </div>
</div> 

<router-outlet></router-outlet>