<!-- The main navabar -->
<div class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <h2>Baseball Event</h2>
        </a>
        <a class="nav-link" id="adminVenues" routerLink="view" >Venues</a>
        <a class="nav-link" id="adminTeams" routerLink="teams" >Teams</a>
        <a class="nav-link" id="adminRefree" routerLink="refree">Refree</a>
        <a class="nav-link" routerLink="display" >Users</a>
        <div class="d-flex">
            <button class="btn btn-danger" (click)="logout()">Logout</button>
        </div>
    </div>
</div>
<!-- The main navbar ends-->
<router-outlet></router-outlet>